h3 {
    margin-left: 50%;
    margin-top: -25%;
}

.arashi-head {
    border-bottom: solid 3px blue;
    width: 250px;
}

.arashi-img-head {
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

body {
    background-color: #EDDE7B;
    margin-left: 40%;
}
  
textarea {
    border: 4px solid rgb(251, 255, 15);
    border-radius: 10px;
}

ul {
    width: 250px;
    height: 500px;
}

li {
    list-style-type: none;
}

.chat-scroll {
    overflow: auto;
}

/*相手の吹き出し*/
.my-message {
    margin-bottom: 2px;
	position: relative;
	display: inline-block;
	width: 200px; 
	text-align: center;
	color:#FFF;
	padding: 10px;
	background-color: #f39800;
	border-radius: 5px;
}
.my-message:before {
	content: '';
	position: absolute;
	display: block;
	z-index: 1;
	border-style: solid;
	border-color: transparent #f39800;
	border-width: 10px 0 10px 10px;
	top: 50%;
	right: -10px;
	margin-top: -10px;
}

.arashi-message {
    margin-bottom: 4px;
    position: relative;
    display: inline-block;
    width: 200px; 
    text-align: center;
    color:#FFF;
    padding: 10px 2px;
    background-color: #facd80;
    border-radius: 5px;
}
.arashi-message:before {
    content: '';
    position: absolute;
    display: block;
    z-index: 1;
    border-style: solid;
    border-color: transparent #facd80;
    border-width: 10px 10px 10px 0;
    top: 50%;
    left: -10px;
    margin-top: -10px;
}

.btns{
	display: inline-block;
	vertical-align: middle;
	margin: 0 10px;
    margin-top: -7%;
	padding: 6px 25px;
	color: #000000;
	font-weight: bold;
	letter-spacing: 0.5pt;
	text-decoration: none;
	background-color: #ffffff;
	border: 1px solid #d9ff00;
	cursor: pointer;
	transition-duration:0.3s;
    -webkit-transition-duration:0.3s;
    -moz-transition-duration:0.3s;
    -o-transition-duration:0.3s;
    -ms-transition-duration:0.3s;
} 
.btns:hover{
    color: #000000;
    background-color: #ebed78;
}